{% extends 'prima_app/base.html'%}

<!--crispy tag-->

{% block content %}

{% load crispy_forms_tags %}
<div class="container mt-5 pt-5 " style="width: 100%;">
    <div class="card p-3 shadow-lg p-3 mb-5 bg-body rounded">
        <form action="" , method="POST" autocomplete="off">
            {% csrf_token %}
            <div class="row">
                <div class="col-4"> {{ form.nom|as_crispy_field}} </div>
                <div class="col-4"> {{ form.prenom|as_crispy_field}} </div>
                <div class="col-4"> {{ form.genre|as_crispy_field}} </div>
            </div>
            <div class="row">
                <div class="col-4"> {{ form.Age|as_crispy_field}} </div>
                <div class="col-4"> {{ form.date|as_crispy_field}} </div>
                <div class="col-4"> {{ form.groupe_sangin|as_crispy_field}} </div>
            </div>
            <hr>
            <div class="d-grid gap-2 mt-2">
                <button class="btn btn-primary" type="submit">Soumettre</button>
                <a class="btn btn-secondary" href="{% url 'patient-list' %}">Annuler</a>
            </div>
            <hr>
        </form>
    </div>
</div>
{% endblock content %}